bak/
results/
venv/

*~
.DS_Store
.idea/
*.pyc
*.zip
*.pyc

*.suo
*.obj
*.bak
*.dll
*.ilk
*.exp
*.lib
*.pdb
*.o
*.lo
*.la

libspatialindex/.idea
libspatialindex/build
libspatialindex/cmake-build-debug
libspatialindex/.github
#*build*
libspatialindex/.idea
libspatialindex/CMakeLists.txt.user
libspatialindex/CMakeFiles
libspatialindex/CMakeCache.txt
libspatialindex/docs/build
libspatialindex/install_manifest.txt
libspatialindex/docs/doxygen/html*/
libspatialindex/docs/doxygen/xml
